<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>游玩列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('ProList/pyadd')}">新 增</a>
            <button class="btn ajax-post" url="{:U('ProList/py_changeStatus',array('method'=>'resumeUser'))}" target-form="ids">上 架</button>
            <button class="btn ajax-post confirm" url="{:U('ProList/py_changeStatus',array('method'=>'forbidUser'))}" target-form="ids">下 架</button>
            <button class="btn ajax-post confirm" url="{:U('ProList/py_changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
        </div>

       
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class=""></th>
		<th class="">景点名</th>
		<th class="">价格(￥/人)</th>
		<th class="">联系人</th>
		<th class="">联系电话</th>
		<th class="">上传者</th>
		<th class="">排序</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
            <td height="100px"><img src="{$vo.logo_img_url}" width='100px';height='100px'></td>
			<td>{$vo.title} </td>
			<td>{$vo.price}</td>
			<td>{$vo.contact}</td>
			<td>{$vo.tel}</td>
			<td><eq name="vo['realname']" value="">{$vo.nickname}<else />{$vo.realname}</eq>{$vo.deposit}</td>
			<td>{$vo.sort}</td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('ProList/pyedit?id='.$vo['id'])}" target="_blank">编辑</a>
				<if condition="$vo['status'] eq '0'">
					<a href="{:U('ProList/py_changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">上架</a>
				<elseif condition="$vo['status'] eq '1'" />
					<a href="{:U('ProList/py_changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">下架</a>
				</if>
				
				<a href="{:U('ProList/py_changeStatus?method=deleteUser&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
				<!-- <a href="{:U('Vip/delete?id='.$vo['id'])}" class="confirm ajax-get">删除</a> -->
                </td>
		</tr>
		</volist>
	</tbody>
    </table> 
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">

    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('ProList/pylist')}"]').closest('li').addClass('current');
	</script>
</block>
