<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>VIP类目</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('vip/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('vip/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('vip/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('vip/delete',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
        </div>

        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">名称</th>
		<th class="">折扣价（%）</th>
		<th class="">描述</th>
		<th class="">月价</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.name}</td>
			<td>{$vo.discount}</td>
			<td>{$vo.remark}</td>
			<td>{$vo.monthly_price}</td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('Vip/edit?id='.$vo['id'])}" target="_blank">编辑</a>
				<eq name="vo.status" value="1">
				<a href="{:U('Vip/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('Vip/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('vip/delete?method=deleteUser&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
				<!-- <a href="{:U('Vip/delete?id='.$vo['id'])}" class="confirm ajax-get">删除</a> -->
                </td>
		</tr>
		</volist>
	</tbody>
    </table> 
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('vip/category')}"]').closest('li').addClass('current');
	</script>
</block>
