<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑类目</h2>
    </div>
    <form action="__SELF__" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$info.name}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">商品折扣<span class="check-tips">（%）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="discount" value="{$info.discount}">  
            </div>
        </div>


        <div class="form-item cf">
            <label class="item-label">类目描述<span class="check-tips">（输入行为描述）</span></label>
            <div class="controls">
                <label class="textarea input-large"><textarea name="remark">{$info.remark}</textarea></label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">月价<span class="check-tips">（每个月的价格）</span></label>
            <div class="controls">
                <input type="number" class="text input-large" name="monthly_price" value="{$info.monthly_price}">
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        // Think.setValue("type", {$info.type|default=0});
        // Think.setValue("group", {$info.group|default=0});
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('vip/category')}"]').closest('li').addClass('current');
    </script>
</block>
