<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{:I('get.sort')?'子':'父'}级分类</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Home/news_sort_add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Home/infor_changeStatus',array('method'=>'forbidUser','type' => 'nt'))}" target-form="ids">禁用</button>
            <button class="btn ajax-post confirm" url="{:U('Home/infor_changeStatus',array('method'=>'resumeuser','type' => 'nt'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post confirm" url="{:U('Home/infor_changeStatus',array('method'=>'deleteUser','type' => 'nt'))}" target-form="ids">删 除</button>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class=""></th>
		<th class="">类名</th>
		<th class="">子级类目</th>
		<th class="">所属级别</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td><a href="{:U('news_sort',array('pid' => $vo['id'],'sort' => ($vo['sort_type'] + 1)))}" class="confirm">{$vo.name} </a></td>
			<td><a href="{:U('news_sort',array('pid' => $vo['id'],'sort' => ($vo['sort_type'] + 1)))}" class="confirm">请点击</a></td>
			<td><eq name="vo['sort_type']" value="1">父级<else />子级</eq></td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('Home/news_sort_add?id='.$vo['id'])}">编辑</a>
				<eq name="vo['status']" value="0">
					<a href="{:U('Home/infor_changeStatus?method=resumeuser&type=nt&id='.$vo['id'])}" class="confirm ajax-get">启用</a>
				<else />
					<a href="{:U('Home/infor_changeStatus?method=forbidUser&type=nt&id='.$vo['id'])}" class="confirm ajax-get">禁用</a>
				</eq>
				<a href="{:U('Home/infor_changeStatus?method=deleteUser&type=nt&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
				<!-- <a href="{:U('Vip/delete?id='.$vo['id'])}" class="confirm ajax-get">删除</a> -->
            </td>
		</tr>
		</volist>
	</tbody>  
    </table> 
	</div>
    <div style="text-align:center;">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('home/news_sort')}"]').closest('li').addClass('current');
	</script>
</block>