<extend name="Public/base"/>

<block name="style">

</block>

<block name="body">

    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}美景贴图</h2>
    </div>
    
    <form action="{:$info['id']?U('inforedit'):U('inforadd')}" method="post" class="form-horizontal">

        <div class="form-item cf">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large " name="title" value="{$info.title}">
            </div>
        </div>
		
        
        <div class="form-item cf">
            <label class="item-label">文章封面图 *<span class="check-tips"></span></label>
            <div class="controls">
                <div id="main">
                   <div class="demo">
                        <div class="btn">
                            <span class="up_str">上传图片</span>
                             <span class="img_up"><input type="file" name="img" upUrl="{:U('Home/imgUplode',array('type'=>'news'))}" at="logo_img_url" onchange="img_upload(this,'1');"></span>
                            <input id="logo_img_url" type="hidden" name="logo_img_url" value="{$info.logo_img_url}" />
                        </div>
                        <div class="progress">
                            <span class="bar"></span><span class="percent">0%</span >
                        </div>
                        <div class="files"></div>
                   </div>
                   <php>$img_url = getImgUrl($info['logo_img_url']);</php>
            
                   <div class="col-md-12 column" id="showimg"><notempty name="info.logo_img_url"><div style='float: left;margin-left: 5px;'><img src="{:($img_url)?$img_url[0]['url']:''}" width='220px' height = '111px'></div></notempty></div>
                </div>
            </div>
        </div>
        
        
        <div class="form-item cf">
            <label class="item-label">内容<span class="check-tips"></span></label>
       		<div class="controls">
       		<textarea name="content" id="myEditor" style="width:800px;height:500px;">{$info.content}</textarea>
       		</div>
        </div>
        
        <!-- <div class="form-item cf">
            <label class="item-label">所属类型<span class="check-tips"></span></label>
            <div class="controls">
               <select class="chzn-select" id="type" name="type">
                   <option value="">--请选择--</option>
                    <if condition="$sort_list != false">
                        <volist name="sort_list" id="vo">
                            <option value="{$vo.id}" <eq name="info['news_sort_id']" value="$vo['id']">selected</eq>>┯{$vo.name}</option>
                        </volist>
                        <if condition="$vo['sorts'] != false">
                            <volist name="vo['sorts']" id="vos">
                                <option value="{$vos.id}" <eq name="info['news_sort_id']" value="$vos['id']">selected</eq>>└{$vos.name}</option>
                            </volist>    
                        </if>
                    </if>
               </select>
            </div>
        </div> -->
        
        
        <!-- <div class="form-item cf">
            <label class="item-label">所在地<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large " name="address" value="{$info.address}">
            </div>
        </div> -->
        


        <div class="form-item cf">
            <label class="item-label">排序<span class="check-tips"></span></label>
            <div class="controls">
                <input type="number" class="text input-large " name="ord" value="{$info.ord}">
            </div>
        </div>

       <!--  <div class="form-item cf">
            <label class="item-label">是否置顶<span class="check-tips"></span></label>
            <div class="controls">
                <div class="radio">
                  <label>
                    <input type="radio" name="stick" id="stick" value="0" <if condition="!isset($info['stick']) || $info['stick'] == '0'">checked</if>>
                    &nbsp;否
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <input type="radio" name="stick" id="stick" value="1" <eq name="info['stick']" value="1">checked</eq> >
                    &nbsp;是
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                
                </div>
                
            </div>
        </div> -->
        
        <div class="form-item cf">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <div class="radio">
                  <label>
                    <input type="radio" name="status" id="status" value="1" <if condition="!isset($info['status']) || $info['status'] == 1">checked</if>>
                    &nbsp;发布
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <input type="radio" name="status" id="status" value="0" <eq name="info['status']" value="0">checked</eq> >
                    &nbsp;禁用
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                
                </div>
                
            </div>
        </div>

         

 		
        <div class="form-item">
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a href="{:U('inforList')}"><button class="btn btn-return" type="button">返 回</button></a>
        </div>
    </form>
</block>

<block name="script">
	<script src="__PUBLIC__/ueditor/ueditor.config.js"></script>
	<script src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
       	UE.getEditor('myEditor');
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('Home/travel')}"]').closest('li').addClass('current');
    </script>
</block>